<h2 class="left-align"><%= htmlWebpackPlugin.options.title %></h2>
<form id="join-form" name="join-form">
    <div class="row join-info-group">
        <div class="col-sm">
            <p class="join-info-text">User ID(optional)</p>
            <input id="uid" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="Enter the user ID">
        </div>
    </div>
    <br>
    <div class="button-group">
        <button id="host-join" type="button" data-role="host" class="btn btn-primary btn-sm">Join as host</button>
        <button id="leave" type="button" data-role="leave" class="btn btn-primary btn-sm" disabled="disabled">Leave</button>
    </div>
</form>
<br>
<a href="/audience.html" class="btn btn-primary btn-sm">オーディエンスとして視聴する</a>